<ion-menu side="start" menuId="menuPrincipal" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="tab2">ver clientes</ion-item>
      <ion-item>ver mascotas</ion-item>
      <ion-item>registrar mascotas</ion-item>
      <ion-item>ver citas</ion-item>
      <ion-item>registrar citas</ion-item>
      <ion-item>productos en venta</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>